<h2 mat-dialog-title style="width: 500px">Информация о клиенте</h2>
<mat-dialog-content class="mat-typography">
  <mat-list class="mat-list">
    <div class="photo-container">
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" height="300px" alt="#">
    </div>
    <mat-list-item>Номер досье:<span></span></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>ФИО:</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Возраст:</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Язык</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Семеное положение:</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Имя партнера:</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Номер телефона:</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Адрес</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Дети</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Список детей </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Ok</button>
</mat-dialog-actions>

