.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding: 15px 30px 15px 30px;
  margin: 0 auto;
}
.router-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 1200px;
  padding: 15px 30px 15px 30px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
